$fontText1: "Work Sans", sans-serif;
$fontText2: "Crimson Text", serif;
$colorLink1: #74c69d;
$colorFont: white;
$colorFont2: black;
$colorFont3: grey;
$colorFont4: rgb(238, 238, 238);
$minWidthMobile: 375px;
