.contact {
  padding: 50px;
  margin: 20px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: $fontText1;
}
@media (min-width: 1440px) {
  .contact {
    display: flex;
    align-items: center;
  }
}
.form {
  display: flex;
  flex-direction: column;
}

.parrafo {
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: $fontText1;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.submit {
  font-family: $fontText1;
  background-color: $colorFont2;
  color: $colorFont;
  font-family: $fontText2;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  transition:
    transform 0,
    3s ease;
}

.name {
  margin-bottom: 10px;
  font-size: large;
}

.namebox {
  height: 50px;
  border-radius: 10px;
  background-color: lightgrey;
  margin-bottom: 10px;
  margin-top: 10px;
}
.email {
  margin-bottom: 10px;
  font-size: large;
}
.emailbox {
  height: 50px;
  border-radius: 10px;
  background-color: lightgrey;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container-mapa {
  width: 70%;

  margin: 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
}

.mapa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.formulario {
  display: grid;
  grid-template-row: 1fr 1fr;

  padding: 130px;
  margin-top: -150px;
}
@media (min-width: 1440px) {
  .formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .container-mapa {
    width: 500px;
  }
}
