<div id="cosoverde" class="cosoverde">
  <div>
    <img class="foto_idea" src="./images/1.svg" alt="logo ideas" />
  </div>
  <div class="text">
    <h3 class="welcome">B I E N V E N I D A</h3>
    <h2 class="titulo2">El Camino al Código</h2>
    <p class="titulo3">
      Un grupo de chicas decidió inscribirse en un bootcamp de programación,
      cada una motivada por razones distintas. Algunas buscaban nuevos retos,
      otras deseaban mejorar sus oportunidades laborales, pero todas compartían
      el mismo objetivo: un cambio en su estilo de vida que les ofreciera
      mejores condiciones y más flexibilidad en el trabajo.
    </p>

    <a class="explora" href="#coso2">Explora</a>
  </div>
</div>
