<div id="coso3" class="div3">
  <div class="container-image3">
    <img class="image3" src="/images/3.svg" alt="imagen3" />
  </div>
  <div class="flex">
    <h1 class="titulocoso3">Dónde Estamos</h1>
    <p class="parrafo3">
      Nunca nos habíamos imaginado estudiando programación. Venimos de ramas muy
      diferentes, desde el arte hasta las humanidades. A pesar del estrés y de
      ir con el agua al cuello día sí y día también, este curso está siendo una
      experiencia transformadora. Nos ha enseñado que la programación es una
      herramienta accesible para cualquier persona y que la comunidad que la
      rodea es de lo más maja.
    </p>

    <div class="container-ver-mas">
      <a class="ver-mas" href="#equipo">ver mas</a>
    </div>
  </div>
</div>
