<div id="coso2" class="textoeimagen">
  <div class="imagen">
    <img class="photo" src="/images/2.svg" alt="comunicacion" />
  </div>
  <div class="texto">
    <h1>Abuelita dime tú</h1>
    <p class="parrafo2">
      Además, algo que nos une a todas es nuestro amor por el campo y el aire
      fresco, lejos del ajetreo de las grandes ciudades. Vivimos o disfrutamos
      de estar rodeadas de naturaleza, y sabemos que la programación nos puede
      abrir las puertas a una vida más tranquila y conectada con lo verde, sin
      tener que sacrificar oportunidades laborales.
    </p>
    <div class="container_button2">
      <a href="#coso3" class="button-2"> ver mas </a>
    </div>
  </div>
</div>
