<footer class="footer">
  <section class="iconos-redes-sociales">
    <a href="https://www.facebook.com/AdalabDigital/" target="_blank">
      <i class="fa-brands fa-facebook-f"></i>
    </a>

    <a href="https://www.instagram.com/adalab_digital/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>

    <a
      href="https://x.com/i/flow/login?redirect_after_login=%2FAdalab_Digital"
      target="_blank"
    >
      <i class="fa-brands fa-twitter"></i>
    </a>

    <a href="https://es.pinterest.com/" target="_blank">
      <i class="fa-brands fa-pinterest-p"></i>
    </a>

    <a href="https://www.tiktok.com/@adalab_digital" target="_blank">
      <i class="fa-brands fa-tiktok"></i>
    </a>

    <a href="https://web.whatsapp.com/" target="_blank">
      <i class="fa-brands fa-whatsapp"></i>
    </a>

    <a href="https://www.youtube.com/channel/UCYmHARvTgsUrm5YdSYwzmDg">
      <i class="fa-brands fa-youtube"></i>
    </a>
  </section>

  <section class="copiright">
    <i class="fa-regular fa-copyright"></i>
    <a href="index.html">TechAnimal, 2024.</a>
  </section>
</footer>
