<header class="cabecera">
  <div class="cabecera-contenido-movil">
    <a class="cabecera-contenido-movil-a" href="index.html">
      <img class="logo-cabecera" src="./images/raton.png" alt="mouse" />
      <span class="texto-cabecera">TechAnimal</span>
    </a>
    <img
      class="menu-hamburguesa"
      src="./images/menu-icon.png"
      alt="es un icono de menú hamburguesa"
    />
  </div>

  <div class="contenedor-menu">
    <ul class="listado-menu">
      <li><a href="#cosoverde">Adalab</a></li>
      <li><a href="#coso2">¿Qué nos une?</a></li>
      <li><a href="#coso3">Dónde estamos</a></li>
      <li><a href="#equipo">Nosotras</a></li>
      <li><a href="./contacto.html">Contacto</a></li>
    </ul>
  </div>
</header>
